
html, body {
    height: 100%;
    margin: 0%;
    padding: 0%;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    
}
li {
    display: inline;
}
li a
#Migrations_Encounters{
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50%;
}
li a{
    float: right;
    text-align: right;
}
li a {
    display: block;
    color: black;
    text-align:center;
    padding: 1.5%;
    text-decoration: none;
    
}
/* Change the link color to #f66 on hover */
li a:hover {
    background-color: #f66;
}
MIGRATION ENCOUNTERS{
    font-family: serif;
}

.column{
    
    float: left;
    width: 50%;
    
}

/* Clear floats after the columns */
.column:after{
    float: left;
    width: 50%;
    
}

#stock{
    width: 100%;
    position: -webkit-sticky; /*Safari*/
    position:sticky;
    top: 10%; 
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
h2{
    text-align: center;
    font-family: sans-serif;
}
h3{
    text-align: center;
    font-family: sans-serif;
}
#stock{
    height: 100%;
    width: auto;
    margin-left: 5%;
    margin-right: auto;
    position:fixed;
    top: 8%;
}
#navigation{
    position: -webkit-sticky; /*Safari*/
    position:sticky;
    top: 0;
    height: 4%;
    background-color:#f3f5fc;
    -webkit-box-shadow: 5px 5px 5px rgb(145, 145, 145);
    -moz-box-shadow:    5px 5px 5px rgb(145, 145, 145);
    box-shadow:         5px 5px 5px rgb(145, 145, 145);
    
}
#menu{
    -webkit-box-shadow: 5px 5px 5px rgb(145, 145, 145);
    -moz-box-shadow:    5px 5px 5px rgb(145, 145, 145);
    box-shadow:         5px 5px 5px rgb(145, 145, 145);
    z-index:999;
}
#logo_title{
    float: left;
    text-align: right;
}
#logo_image{
    height: 100%;
    width: auto;
    margin: 0;
    padding: 0%;
}

/* The grid: Four equal columns that float next to each other */
.column_1{
    float: left;
    width: 25%;
    padding: 30px;
}
/* Style the image inside the grid */
.column_1 img{
    opacity: 0.8;
    cursor: pointer;
}

.column_1 img:hover{
    opacity: 1;
    transition: 1s;
}
/* Clear floats after the columns */
.row::after{
    content: "";
    display: table;
    clear: both;
}
/* The expanding image container  */
.container{
    position:relative;
    display: none;
}
/* Expanding image text */
#imgtext{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}
#Tiger{
    padding-inline-end: 30px 30px;

}
#Turtle{
    padding-inline-end: 30px 30px;
    
}
#Valley{
    padding-left: 40px;
    
}

